.dropdown {
  position: relative;
  width: 220px;
  cursor: pointer;
  user-select: none;
}

.selected {
  padding: 10px 14px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected:hover {
  border-color: #d0d0d0;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}
.arrow {
  width: 14px;
  height: 14px;
  transition: transform 0.2s ease;
  transition-delay: 0.1s;

  //   transform: translateY(-50%);
}

.dropdown ul.options {
  position: absolute;
  width: 100%;
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fff;
  max-height: 180px;
  overflow-y: auto;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  z-index: 100;
}

.option {
  padding: 10px 14px;
  transition: background 0.2s ease;
}

.option:hover {
  background: #f5f5f5;
}

.option.active {
  font-weight: 600;
  background: #f0f0f0;
}

.options {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  transition-delay: 0.1s;
}

.dropdown:hover .options {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
